<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			
			body {
				height: 100%;
				background: red;
				padding: 0;
				margin: 0;
			}
			
			.tblList {
				padding: 0;
				margin: 0;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				background: #ddd;
				width: 15em;
				overflow: auto;
			}
			
			.editor {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 15em;
				right: 0;
				background: #ccc;
				overflow: auto;
			}
			
			.editor h1 {
				padding-left: 0.5em;
			}
			
			h3 {
				padding-left: 1em;
			}
			
			.input {
				background: #ffcccc;
			}
			
		</style>
		
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript">
			
			var DBModule = angular.module('DBModule', []);
			DBModule.factory('Tables', function () {
				return {
					tables: [],
					addTable: function ( tname ) {
						this.tables.push({
							name: tname,
							fields: [],
							data: []
						});
					},
					delTable: function ( i ) {
						this.tables.splice(i, 1);
					},
					addField: function ( tableId, fieldName ) {
						this.tables[tableId].fields.push(fieldName);
					},
					delField: function ( tableId, i ) {
						this.tables[tableId].fields.splice(i, 1);
					},
				};
			});
			
			DBModule.controller('MainController', function ( $scope, Tables ) {
				
				Tables.addTable('Users');
				Tables.addField(0, 'login');
				Tables.addField(0, 'password');
				
				$scope.filtreData = [];
				$scope.pSize = 10;
				$scope.page = 0;
				$scope.Tables = Tables;
				$scope.edit= 0;
				$scope.copy = function ( obj ) {
					console.log("hello");
					console.log(obj);
					var nObj = {};
					for ( var i in obj )
						nObj[i] = obj[i];
					return nObj;
				};
			});
			
			DBModule.filter('valueFilter', function () {
				return function ( data, expressionFiltre, $scope ) {
					if ( !expressionFiltre )
						return data;
					var newArray = [];
					for ( var i = 0; i < data.length; i++ ) {
						if ( $scope.$eval(expressionFiltre, data[i]) )
							newArray.push(data[i]);
					}
					return newArray;
				};
			});
			
		</script>
		
	</head>
	
	<body ng-app="DBModule" ng-controller="MainController">
		
		<div class="tblList">
			<h3>Liste des tables </h3>
			<ul>
				<li>
					<input type="text" ng-model="tableName" />
					<input type="button" value="+" ng-click="Tables.addTable(tableName); tableName = '';" />
				</li>
				<li ng-repeat="t in Tables.tables track by $index">
					{{t.name}} <!-- affichage du nom de la table -->
					
					
					<!-- boutton d'edition de la table-->
					<input type="button" value="?" ng-click="$parent.edit = $index;" />
					
					<!-- boutton de suppression de la table-->
					<input type="button" value="x" ng-click="Tables.delTable($index);" />
				</li>
			</ul>
		</div>
		
		<div class="editor" ng-show="edit >= 0">
			<!-- affichage du nom de la table selectionnée -->
			<h1>table #{{edit}} : {{Tables.tables[edit].name}}</h1>
			<hr />
			<h3>Liste des champs</h3>
			<ul>
				<li>
					<input type="text" ng-model="fieldName" />
					<input type="button" value="+" ng-click="Tables.addField(edit, fieldName); fieldName = '';" />
				</li>
				
				<!-- affichage de la liste des champs de la table selectionnée -->
				<li ng-repeat="f in Tables.tables[edit].fields track by $index">
					{{f}}
					<!-- boutton de suppression du champs-->
					<input type="button" value="x" ng-click="Tables.delField(edit, $index);" />
				</li>
			</ul>
			
			<h3>Filtrage de la table</h3>
			<textarea ng-model="expressionFiltre">
				
			</textarea>
			
			
			<!--
			<table border="1">
				<tr ng-repeat="fil in filtreData track by $index">
					<th>{{fil.name}}</th>
					<td><input type="text" ng-model="fil.value" /></td>
				</tr>
				<tr>
					<th>
						<select ng-model="filtre.name" class="input">
							<option ng-repeat="f in Tables.tables[edit].fields track by $index" value="{{f}}">{{f}}</option>
						</select>
					</th>
					<td><input class="input" type="text" ng-model="filtre.value"></td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="button" value="+" ng-click="filtreData.push(filtre); filtre = {};" />
					</td>
				</tr>
			</table>
			-->
			
			<h3>Données de la table</h3>
			<table border="1">
				
				<tr>
					<th ng-repeat="f in Tables.tables[edit].fields track by $index" >
						{{f}}
					</th>
				</tr>
				
				<tr ng-repeat="d in (Tables.tables[edit].data|valueFilter:expressionFiltre:this).slice(page * pSize, (page + 1) * pSize) track by $index" >
					<td ng-repeat="f in Tables.tables[edit].fields track by $index" >
						<input type="text" ng-model="d[f]" />
					</td>
				</tr>
				
				<tr>
					<td ng-repeat="f in Tables.tables[edit].fields track by $index" >
						<input  class="input"  type="text" ng-model="$parent.newD[f]" />
					</td>
				</tr>
				
				<tr>
					<td colspan="{{Tables.tables[edit].fields.length}}" style="text-align: center;">
						<input type="button" value="ajouter" ng-click="Tables.tables[edit].data.push(newD); newD = {};"/>
						
					</td>
				</tr>
				
				<tr>
					<td colspan="{{Tables.tables[edit].fields.length}}" style="text-align: center;">
						<input ng-show="page > 0" type="button" value="&lt;" ng-click="page = page - 1" />
						<input type="number" ng-model="pSize" style="width: 3em;" />
						<input ng-show="page * pSize < Tables.tables[edit].data.length" type="button" value="&gt;" ng-click="page = page + 1" />
					</td>
				</tr>
			</table>
			
			
			
		</div>
	</body>
</html>